.page {
  display: flex;
  font-family: 'Geist Sans', sans-serif;
}

.aside {
  min-width: 250px;
  background: #020B1F;
  padding: 10px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  z-index: 2;
  position: fixed;
  height: 100%;
}

.input{
  background-color: white;
  border-top: 0.01cm solid black;
  color: black;
  border-radius: 20px;
  width: 50%;
}

.logo {
  margin-top: 5px;
  margin-bottom: 5px;
 padding: 0px 15px;
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.b_aside{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.line {
  border: 0;
  margin-bottom: 30px;
  border-top: 0.01cm solid white;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  height: 100%;
}

.search{
  margin-top: 15px;
  width: 80%;
  height: 52px;
  display: flex;
  justify-content: center;
}

.menuItem {
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-radius: 15px;
  transition: background 0.3s ease;
}

.menuItem:hover, .menuItem.active {
  background-color: rgba(255, 255, 255, 0.1);
  background: #dd19f8;
  background: linear-gradient(0deg,#dd19f8 0%, #fdbf0c 90%);
  background: -webkit-linear-gradient(0deg,#dd19f8 0%, #fdbf0c 90%);
  background: -moz-linear-gradient(0deg,#dd19f8 0%, #fdbf0c 90%);
}

.menuItem i {
  margin-right: 10px;
}

.section {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-grow: 1;
  background-color: white;
  padding: 0px 20%;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  margin-bottom: 40px;
}

.d_car{
  display: flex;
  gap: 35px;
}
